body {
  margin: 0;
  font-family: Arial;
  background: #111;
  color: white;
  overflow: hidden;
}

.login-screen {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  width: 300px;
  background: #1a1a1a;
  padding: 20px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input,
button {
  padding: 10px;
  border: none;
  border-radius: 6px;
}

button {
  cursor: pointer;
  background: #00ff99;
  font-weight: bold;
}

header {
  height: 60px;
  background: #1a1a1a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.buttons {
  display: flex;
  gap: 10px;
}

main {
  display: flex;
  height: calc(100vh - 60px);
}

.camera-section {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-wrap {
  position: relative;
}

video {
  width: 700px;
  border-radius: 12px;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
}

#log {
  flex: 1;
  background: #1a1a1a;
  overflow-y: auto;
  padding: 10px;
}